
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    Claims Reserving involves assessing how much money is likely to be paid in
    future in respect of the claims that arise from a set of insurance policies that have already been taken out. The
    statistical analysis of this is based around triangles of payment figures for previous claims.
</p>
<p>
    This tool reads incremental payment data from a comma-separated text file, to
    accumulate the data and to output the results to a different comma-separated text file. This process represents the
    creation of the cumulative data triangle from the incremental data triangle above described.
</p>